[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci --include=dev --no-cache",
  "npm list vite || echo 'Vite not found in node_modules'"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"