[build]
builder = "NIXPACKS"
buildCommand = "npm install --include=dev && npx prisma generate && npm run build"

[deploy]
startCommand = "npm run start"

# Railway will automatically set PORT. This project binds to it via the start script.
